@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*{
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#grid_wrapper{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  100px auto auto auto auto;
  grid-template-areas:
  "hea hea hea hea"
  "sec sec sec sec"
  "se1 se1 se1 se1"
  "se2 se2 se2 se2"
  "foo foo foo foo";
}

h1{
  font-family: 'playfair display';
}

h2{
  font-family: 'playfair display';
}

body {
  height: 100vh;
  font-family: 'Playfair Display',serif;
}

header{
  grid-area: hea;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #bbd0ff;
}

.logo{
  color: #161313;
  font-size: 35px;
  font-weight: 600;
  font-family: 'playfair display';
}

/* .subscribe{
  display: block;
  margin-right: 5%;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  border: 2px double;
  background: #bbd0ff;
  cursor: pointer;
  box-shadow: #eeeadd;
} */

.subscribe:hover{
  animation: pulse 1.5s;
}

nav{
  display: flex;
}

nav a{
  text-decoration: none;
  letter-spacing: 0.1875rem;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 20px;
  color: black;
}

nav a:hover{
  background-color: #fff;
  transition: .5s all ease;
}

.active{
  background-color: #eeeadd;
}

nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  transition: all 0.5s;
  font-family: 'playfair display';
}

#plane_picture{
  grid-area: sec;
  display: flex;
  flex-direction: column;
  background-image: url("..//img/planefr.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#plane_picture .intro-text{
  padding-top: 100px;
  padding-bottom: 50px;
}

#plane_picture .intro-text .intro-lead-in{
  margin-bottom: 25px;
  font-size: 22px;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  line-height: 22px;
}

#plane_picture .intro-text .intro-heading{
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

.pulse{
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0.5em;
  margin-left: -50px;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  border: 2px solid;
  background: #bbd0ff;
  cursor: pointer;
}

.pulse:hover {
  animation: pulse 1.5s;
}

@keyframes pulse {
  0% {
    transform: scale(.85);
  }
  70% {
    transform: scale(1);
  }
    100% {
    transform: scale(1);
  }
}

footer{
  grid-area: foo;
}

#info_bars{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 550px;
}

#section_how{
  grid-area: se1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BBD0FF;
  text-align: center;
}

#h2_section_how{
  margin-bottom: 80px;
}

#section_tours{
  grid-area: se2;
  flex-direction: column;
  display: flex;
  background-color: #BBD0FF;
  height: 600px;
}

.mySlides {
  width: 800px;

}

.w3-left, .w3-right, .w3-badge {
  cursor:pointer;
}

.w3-badge {
  height:13px;width:13px;padding:0;
}

.tours{
  margin: 50px;
  text-align: center;
  font-size: 30px;
  background-color: whitesmoke;
  border-radius: 40px;
}

footer{
  grid-area: foo;
  display: flex;
  position: relative;
  padding: 20px 50px;
  width: 100%;
  background-color: #3586ff; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul,
footer .menu{
  list-style: none;
}

footer .social-links, 
footer .menu{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  line-height: 40px;
  flex-wrap: wrap;
}

footer .social-links li a{
  font-size: 2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-links li a:hover{
  transform: translateY(-10px);
}

footer .menu li a{
  font-size: 2.5em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover{
  opacity: 1;
}

footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../img/wave.png");
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index: 1000;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave{
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02{
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}


#grid_tours{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 400px 400px auto auto;
  grid-template-areas: 
  "hea hea hea hea"
  "sec sec sec sec"
  "se1 se1 se1 se1"
  "se2 se2 se2 se2"
  "foo foo foo foo";
}

#section_attractions{
  grid-area: sec;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD6FF;
}

#attraction_pic{
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

#section_destinations{
  grid-area: se1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FFD6FF;
}

#article_destinations{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h3{
  font-size: 40px;
}

.destination_bttn{
  background-color: white;
  border: 2px solid rgb(154, 153, 153);
  border-radius: 10px;
  margin: 50px;
  padding: 15px 60px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(67, 61, 61);
}

.destination_bttn:hover{
  background-color:#eeeadd;
  transition: 0.6s all ease-in-out;
}

.destination_bttn:focus{
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #dab455;
}

#section_categories{
  grid-area: se2;
  background-color: #ffd6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 22%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 1px 10px;
  display: inline-block;
}

.read_more_bttn{
  background-color: white;
  border: 2px solid rgb(154, 153, 153);
  border-radius: 10px;
  margin: 50px;
  padding: 15px 30px;
  color: black;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(67, 61, 61);
}

/* Add rounded corners to the top left and the top right corner of the image */
.img_tours {
  border-radius: 5px 5px 0 0;
  max-width: 250px;
  height: 300px;
}

.h4_countries{
  width: 50px;
}

#grid_about{
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 100px 200px 400px 400px auto auto;
  grid-template-areas: 
  "hea hea hea hea"
  "se1 se1 se1 se1"
  "se2 se3 se4 se7"
  "se2 se5 se6 se7"
  "se8 se8 se8 se8"
  "se9 se9 se9 se9"
  "foo foo foo foo";
}

#section_1{
  grid-area: se1;
  background-image: url("..//img/nature.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  flex-direction: row;
}

#section_2{
  margin-top: 3rem;
  grid-area: se2;
  flex-direction: column;
}

#section_3{
  margin-top: 3rem;
  grid-area: se3;
  flex-direction: row;
  text-align: center;
  border: 5px double black;
  flex-wrap: wrap;
  background-color: #E7C6FF;
}

.h2_about{
  padding: 10px;
}

.p_about{
  padding: 10px;
}

#section_4{
  margin-top: 3rem;
  grid-area: se4;
  background-image: url("..//img/team.jpg");
  background-position: center;
  background-size: cover;
  flex-direction: row;
}

#section_5{
  grid-area: se5;
  background-image: url("..//img/sunset.jpg");
  background-position: center;
  background-size: cover;
}

#section_6{
  grid-area: se6;
  text-align: center;
  flex-direction: row;
  border: 5px double black;
  background-color: #E7C6FF;
}

#section_7{
  margin-top: 3rem;
  grid-area: se7;
  flex-direction: column;
}

#section_8{
  grid-area: se8;
  background-image: url("../img/nature/ocean_sunset.jpg");
  background-position: center;
  background-size: cover;
  flex-direction: row;
  margin-top: 3rem;
}

#section_team{
  display: flex;
  grid-area: se9;
  background-color: #E7C6FF;
  flex-direction: column;
  align-items: center;
  height: 900px;
}

#section_team1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  flex-basis: 33.33333%;
}

.team{
  position: relative;
  display: flex;
  justify-content: center;
}

.team:hover .staff {
  opacity: 0.4;
}

.team:hover .middle {
  opacity: 1;
}

.staff{
  height: 200px;
  width: 200px;
  margin: 10px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#grid_offers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 250px 600px auto 350px auto;
  grid-template-areas: 
  "hea hea hea hea"
  "se1 se1 se1 se1"
  "se2 se2 se2 se2"
  "se3 se3 se3 se3"
  "se4 se4 se4 se4"
  "foo foo foo foo";
}

#curent_and_special{
  grid-area: se1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;

}

.offers_bttn{
  background-color: white;
  border: 2px solid rgb(154, 153, 153);
  margin: 20px;
  padding: 10px 10px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 0px 2px 2px rgb(67, 61, 61);
}

.row{
  height: 2px;
  background: black;
  margin-top: 2%;
}

#section_special_offer{
  grid-area: se2;
  display: flex;
  flex-direction: column;
}

#section_special_offer p{
  padding: 20px;
}

#article_iran{
  display: flex;
  border: 10px ridge black;
  flex-direction: column;
  align-items: center;
  margin: 2% 15% 15% 8%;
}

#img_iran{
  width: 60%;
  display: block;
  border-radius: 20px;
}

#section_offer{
  display: flex;
  flex-direction: row;
}

#section_current_offers{
  grid-area: se3;
}

h2{
  margin: 1rem;
}

.current{
  display: flex;
}

#last_minute{
  grid-area: se4;
}

#last_minute p{
  margin: 20px;
}

#cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

#card1{
  display: flex;
  flex-direction: column;
}
.container2{
  position: relative;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}

#section_current_offers img{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.container2:after{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

.details{
  padding: 20px 10px;
}

.details>h3{
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.details p{
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

@media screen and (min-width: 700px) {
  #grid_wrapper{
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 1fr 1fr 1fr;
  grid-template-rows: 100px 400px 600px auto auto;
  grid-template-areas: 
  "hea hea hea hea"
  "sec sec sec sec"
  "se1 se1 se1 se1"
  "se2 se2 se2 se2"
  "foo foo foo foo";
  height: 100vh;
  }

  #grid_tours{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 400px 400px auto auto;
    grid-template-areas: 
    "hea hea hea hea"
    "sec sec sec sec"
    "se1 se1 se1 se1"
    "se2 se2 se2 se2"
    "foo foo foo foo";
  }

  body {
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    display: flex;
  }
  
  header{
    flex-direction: row;
  }

  .logo{
    float: left;
    margin: 2%;
  }
  
  nav ul{
    margin-left: 30%;
    width: 700px;
    flex-wrap: wrap;
  }

 nav a{
    color: black;
  }

  #Plane_picture .intro-text{
    padding-top: 300px;
    padding-bottom: 200px;
  }

  #plane_picture .intro-text .intro-lead-in{
    margin-bottom: 25px;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
  }

  #section_how{
    grid-area: se1;
    flex-direction: column;
    }

  #h2_section_how{
    margin-bottom: 80px;
  }

  #info_bars{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .tours{
    padding: 50px;
    text-align: center;
    font-size: 15px;
}

  footer{
    grid-area: foo;
    display: flex;
    position: relative;
    padding: 20px 50px;
    width: 100%;
    background-color: #3586ff; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer .menu li a{
    font-size: 3.2em;
  }

  #grid_about{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 100px 300px 400px 400px 300px auto auto;
    grid-template-areas: 
    "hea hea hea hea"
    "se1 se1 se1 se1"
    "se2 se3 se4 se7"
    "se2 se5 se6 se7"
    "se8 se8 se8 se8"
    "se9 se9 se9 se9"
    "foo foo foo foo";
  }

  .h2_about{
    padding: 3rem;
  }

  .p_about{
    padding: 1rem;
  }

  #section_team{
    height: 1200px;
  }

  #meet_the_team{
    padding: 2%;
    font-size: 30px;
  }
  .staff{
    height: 300px;
    width: 300px;
    margin: 10px;
  }
  
  #grid_offers{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 100px 400px auto auto 400px auto;
    grid-template-areas: 
    "hea hea hea hea"
    ".. se1 se1 .."
    ".. se2 se2 .."
    ".. se3 se3 .."
    ".. se4 se4 .."
    "foo foo foo foo";
    height: 100vh;
  }
}
