@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*{
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#grid_wrapper{
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(200px, 1fr) 1fr 1fr 1fr;
  grid-template-rows:  auto auto auto auto auto;
  grid-template-areas:
  "hea hea hea hea"
  "sec sec sec sec"
  "se1 se1 se1 se1"
  "se2 se2 se2 se2"
  "foo foo foo foo";
}

h2{
  font-family: 'playfair display';
}

body {
  height: 100vh;
  font-family: 'Playfair Display',serif;
}

header{
  grid-area: hea;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}


.logo{
  color: #161313;
  font-size: 35px;
  font-weight: 600;
  float: left;
}

#link_list a{
  text-decoration: none;
  letter-spacing: 0.1875rem;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 20px;
}

#link_list a:hover{
  background-color: #fff;
  transition: .5s all ease;
}

#burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(5, 9, 5);
  margin: 5px;
  border-radius: 20%;
  transition: all 0.5s;
}

#link_list {
  background-color: rgb(255, 251, 194);
  height: 400px;
  position: absolute;
  top: -400px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  transition: all 0.5s;
}

#burger {
  margin-right: 50px;
  cursor: pointer;
}

.link_list_visible {
  transform: translateY(500px)
}

.burger_in_x_form #burger_line_2 {
  opacity: 0;
}

.burger_in_x_form #burger_line_1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_in_x_form #burger_line_3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

:root {
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}

header, button, input {
	font: 1em;
	line-height: 1.5em;
}

input {
	color: #171717;
}

header, .search-bar {
	display: flex;
  margin-left: 500px;
  margin-bottom: 100px;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 50%;
}

.s
earch-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}

.search-bar {
	margin: auto;
	justify-content: center;
	max-width: 30em;
}

.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}

.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}

.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}

.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}

.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}

.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 10px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}

.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}

.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}

.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

#plane_picture{
  grid-area: sec;
  display: flex;
  flex-direction: column;
  background-image: url(..//img/plane.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#plane_picture .intro-text{
  padding-top: 100px;
  padding-bottom: 50px;
}

#plane_picture .intro-text .intro-lead-in{
  margin-bottom: 25px;
  font-size: 22px;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  line-height: 22px;
}

#plane_picture .intro-text .intro-heading{
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

.pulse{
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0.5em;
  margin-left: -50px;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  border: 2px solid;
  background: rgb(234, 228, 59);
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(rgb(162, 84, 42), .5);
}

.pulse:hover {
  animation: pulse 1.5s;
}

@keyframes pulse {
  0% {
    transform: scale(.85);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#d45ab7, 0);
  }
    100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(#d45ab7, 0);
  }
}

footer{
  grid-area: foo;
  background-color: lightpink; 
}

.row{
  display: flex;
  flex-wrap: wrap;
}

#info_bars{
  display: flex;
  flex-direction: column;
  margin: 0;
}

#section_how{
  grid-area: se1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#h2_section_how{
  margin-bottom: 80px;
}

#section_tours{
  grid-area: se2;
  flex-direction: column;
  display: flex;
}

.mySlides {
  display:flex;
  flex-wrap: wrap;
  max-height: 100%;
  object-fit: cover;
}

.tours{
  margin: 50px;
  text-align: center;
  font-size: 30px;
  background-color: antiquewhite;
  border-radius: 40px;
}

footer{
  grid-area: foo;
  display: flex;
  position: relative;
  padding: 20px 50px;
  width: 100%;
  background-color: #3586ff; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul,
footer .menu{
  list-style: none;
}

footer .social-links, 
footer .menu{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  line-height: 40px;
  flex-wrap: wrap;
}

footer .social-links li a{
  font-size: 2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-links li a:hover{
  transform: translateY(-10px);
}

footer .menu li a{
  font-size: 2.5em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover{
  opacity: 1;
}

footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../img/wave.png");
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index: 1000;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave{
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02{
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}


#grid_tours{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 400px 400px 400px auto;
  grid-template-areas: 
  "nav nav nav nav"
  "sec sec sec sec"
  "se1 se1 se1 se1"
  "se2 se2 se2 se2"
  "foo foo foo foo";
}

#section_attractions{
  grid-area: sec;
  display: flex;
  justify-content: center;
  align-items: center;
}

#attraction_pic{
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

#section_destinations{
  grid-area: se1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#article_destinations{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.destination_bttn{
  background-color: white;
  border: 2px solid rgb(154, 153, 153);
  border-radius: 10px;
  margin: 50px;
  padding: 15px 60px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(67, 61, 61);
}

.destination_bttn:hover{
  background-color:#eeeadd;
  transition: 0.6s;
}

.destination_bttn:focus{
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #dab455;
}

#section_categories{
  grid-area: se2;
  background-color: lightblue;

}


@media screen and (min-width: 700px) {
  #grid_wrapper{
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 1fr 1fr 1fr;
  grid-template-rows: 100px 400px 600px auto auto;
  grid-template-areas: 
  "hea hea hea hea"
  "sec sec sec sec"
  "se1 se1 se1 se1"
  "se2 se2 se2 se2"
  "foo foo foo foo";
  height: 100vh;
  }

  #grid_tours{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 400px 400px 400px auto;
    grid-template-areas: 
    "hea hea hea hea"
    "sec sec sec sec"
    "se1 se1 se1 se1"
    "se2 se2 se2 se2"
    "foo foo foo foo";
  }

  #grid_about{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 400px 400px 400px auto;
    grid-template-areas: 
    "hea hea hea hea"
    "sec sec sec sec"
    "se1 se1 se1 se1"
    "se2 se2 se2 se2"
    "foo foo foo foo";

  }

  body {
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    display: flex;
  }
  
  #burger {
    display: none;
  }

  #link_list {
    height: 100px;
    margin-right: 25%;
    top: 0px;
    transition: none;
    background-color: red;
    width: 700px;
  }

  .link_list_visible {
    transform: translateY(0px)
  }

  #Plane_picture .intro-text{
    padding-top: 300px;
    padding-bottom: 200px;
  }

  #plane_picture .intro-text .intro-lead-in{
    margin-bottom: 25px;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
  }

  #section_how{
    grid-area: se1;
    flex-direction: column;
    text-align: center;
  }

  #h2_section_how{
    margin-bottom: 80px;
  }

  #info_bars{
    display: flex;
    flex-direction: row;
  }

  .tours{
    padding: 50px;
    text-align: center;
    font-size: 15px;
    background-color: antiquewhite;
}

  footer{
    grid-area: foo;
    display: flex;
    position: relative;
    padding: 20px 50px;
    width: 100%;
    background-color: #3586ff; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer .menu li a{
    font-size: 3.2em;
  }

}
